<button (click)="addItems()">Add items</button>
<button (click)="addItemsToTop()">Add items to top</button>
<button (click)="removeItems()">Remove 3 items</button>
<button (click)="scrollToStart()">Scroll to start</button>
<button (click)="reset()">Reset view</button>

<div class="posts-wrapper">
  <app-infinite-virtual-scroll-viewport
    #viewport
    (onScrollAtBottom)="handleScrollAtBottom()"
  >
    <div
      class="post-item"
      *appInfiniteVirtualFor="
        let post of posts;
        size: 30;
        trackBy: 'id';
        debounceTime: 10;
        let i = index
      "
    >
      <div>
        {{ post.id }}<br />
        {{ post.text }}
      </div>
    </div>
  </app-infinite-virtual-scroll-viewport>
</div>
